<%- include('partials/header') %>

<h1><%= maba.nama %></h1>
<h1><%= maba.npm %></h1>
<h1><%= maba.kelompok %></h1>
<h1>Jumlah tugas</h1>
<p><%= tugas.length %></p>

<h1>Dashboard Maba</h1>
<% if (tugas.length !== 0) { %>
    <table>
        <tr>
            <th>judul tugas</th>
            <th>deskripsi tugas</th>
            <th>deadline</th>
            <th>status</th>
            <th>upload tugas</th>
        </tr>
        <% tugas.forEach((tugasMaba) => { %>
            <tr>
                <td><%= tugasMaba.judul %></td>
                <td><%= tugasMaba.deskripsi %></td>
                <td><%= tugasMaba.deadline.toDateString() %></td>
                <% if (maba.file.length !== 0){ %>
                    <!-- fix this !!!! -->
                    <td><%= maba.file.find(x => x.tugas == tugasMaba.id).status %></td>
                <% } else { %>
                    <td>belum ada tugas</td>
                <% } %>
                <td>
                    <form action="/mabaUpload/<%= tugasMaba.id %>" method="post" enctype="multipart/form-data">
                        <input type="file" name="file">
                        <button type="submit">Kirim</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </table> 
<% } else { %>
    <h1>Tidak ada tugas</h1>
<% } %>

<%- include('partials/footer') %>